extends layout

block content
    script(src='http://code.jquery.com/jquery-1.9.1.js')
    script(src='https://code.jquery.com/jquery-1.12.4.js')
    script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js') 
    


    include templates/user-dashboard
    include templates/push-method
    include templates/bypass-method
    include templates/totp-method
    include templates/random_code-method
    include templates/manager-dashboard
    include templates/user-view
    include templates/admin-dashboard
    include templates/home
    #app.container
        header(v-if="messages.api")
            nav#target.top-nav
                .container
                    a#navButton.button-collapse.top-nav.full.hide-on-large-only(href='#', data-activates='slide-out',onclick="toggle_visibility('slide-out')")
                        i#target.material-icons menu
                    .nav-wrapper
                        a.page-title {{messages.api.menu[currentView]}}
            ul#slide-out.side-nav.fixed
                .no-padding.sidenav-header
                    #hide.flex(onclick="hide('slide-out')")
                        i.material-icons.medium account_circle
                        p {{user.uid}}
                li.bold
                    a#home(href='#', v-on:click='navigate', name = 'home') {{messages.api.menu.home}}
                    li.no-padding
                    ul.collapsible.collapsible-accordion(data-collapsible='accordion')
                        li
                            .collapsible-header {{messages.api.menu.preferences}}
                            .collapsible-body
                                ul
                                    li.bold(v-for='method in methods', v-show='method.activate')
                                        a(href='#', v-on:click='navigate', v-bind:id='method.name', v-bind:name='method.name') {{method.label || method.name}}
                    if right == "manager" || right == "admin"
                        li.bold
                            a#manager(href='#', v-on:click='navigate', name='manager') {{messages.api.menu.manager}}
                    if right == "admin"
                        li.bold
                            a#admin(href='#', v-on:click='navigate', name='admin') {{messages.api.menu.admin}}
                    .divider
                    li.bold.flex.waves-effect(style='display: flex !important;')
                        i.material-icons.prefix exit_to_app
                        a(href='/logout') {{messages.api.action.logout}}
                    .divider
                    li.no-padding
                        ul.collapsible.collapsible-accordion(data-collapsible='accordion')
                            li
                                .collapsible-header
                                    a(href='#')
                                        i.material-icons language
                                .collapsible-body
                                    ul
                                        li.bold
                                            a(href='#', v-on:click="getMessages('français')") Français
                                        li.bold
                                            a(href='#', v-on:click="getMessages('english')") English
        main
            .container
                component(:is='currentView', v-bind:methods='methods', v-bind:messages='messages', v-bind:current_view.sync='currentView', v-bind:currentmethod='currentMethod', v-bind:user='user' v-bind:get_user='getUser')
    script(type="text/javascript").
        function toggle_visibility(id) {
            var e = document.getElementById(id);
                e.style.left = '0%';
        }

        function hide(id) {
            var e = document.getElementById(id);
            if(document.documentElement.clientWidth >= 992)
                e.style.left = '0%';
            else
                e.style.left = '-105%';
        }
        if(document.documentElement.clientWidth >= 992)
                e.style.left = '0%';
block script

