doctype html
html
    head
        title ESUP OTP Manager
        meta(charset='UTF-8')
        link(href='/stylesheets/material-icons.css', rel='stylesheet', type='text/css')
        link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
        link(rel='stylesheet', type='text/css', href='/stylesheets/materialize.min.css', media='screen,projection')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
    body
        block content
        script(src='/javascripts/jquery.min.js')
        script(src='/javascripts/socket.io.min.js')
        script(src='/javascripts/materialize.min.js')
        script(type='text/javascript', src='/javascripts/vue.js')
        script(type='text/javascript', src='/javascripts/app.js')
        block script