script#bypass-method(type='text/x-template').
    <div>
    <ul>
    <li>{{messages.api.methods.bypass.available_codes}} : {{user.methods.bypass.available_code}}</li>
    <li>{{messages.api.methods.bypass.used_codes}} : {{user.methods.bypass.used_code}}</li>
    <table class="striped" v-if="user.methods.bypass.codes.length >0">
    <thead>
    <tr>
    <th data-field="code">{{messages.api.methods.bypass.generated_codes}}</th>
    </tr>
    </thead>
    <tbody>
    <tr v-for="code in user.methods.bypass.codes">
    <td>{{code}}</td>
    </tr>
    </tbody>
    </table>
    </ul>
    <div class="row" style="text-align:center;">
    <a class="waves-effect waves-light btn" v-on:click=generate_bypass>{{messages.api.action.generate_codes}}<i class="material-icons right">sync</i></a>
    </div>
    <div class="divider"></div>
    </div>
