script#manager-dashboard(type='text/x-template').
    <div>
        <div class="row input-field">
            <div class="col s8">
                <i class="material-icons prefix">account_box</i>
                <input v-on:keyup.enter="search" v-on:keyup="suggest" type="text" id="autocomplete-input" list="usersId">
                <label for="autocomplete-input">{{messages.api.label.user}}</label>
            </div>
            <!--<div class="col s8">
                <i class="material-icons prefix">account_box</i>
                <input v-on:keyup.enter="addUser" v-on:keyup="suggest" type="text" id="autocomplete-input" list="usersId">
            </div>-->
            <a class="waves-effect waves-light btn col s4" v-on:click="search">{{messages.api.action.search}}<i class="material-icons right">search</i></a>
            <a class="waves-effect waves-light btn col s4" v-on:click="addUser">Ajouter<i class="material-icons right">add</i></a>
            <datalist id="usersId">
                <option v-for="uid in suggestions" v-bind:value="uid">
            </datalist>
        </div>
        <div v-show="user.uid">
            <user-view v-bind:methods=methods v-bind:user.sync=user v-bind:messages=messages v-bind:get_user=getUser></user-view>
        </div>
    </div>
