script#push-method(type='text/x-template').
    <div>
    <div class="card" v-if="!user.methods.push.active && user.methods.push.activationCode">
    <div class="card-image">
    <br>
    <div class="row" style="margin-bottom: 0;">
    <div class="col s1 m2"><span class="white-text">a</span></div>
    <div class="col s10 m8" style="text-align: center;">{{messages.api.methods.push.push_confirmation1}}</div>
    </div>
    </div>
    <div class="card-content">
    <div class="row" style="margin-bottom: 0;">
    <div class="col s1 m3"><span class="white-text">a</span></div>
    <div class="col s10 m6" style="text-align: center;">
    <p v-html="user.methods.push.qrCode"></p>
    </div>
    </div>
    </div>
    <div class="card-action">
    <div class="row" style="margin-bottom: 0;">
    <div class="col s1 m2"><span class="white-text">a</span></div>
    <div class="col s10 m8" style="text-align: justify;">
    <p>{{messages.api.methods.push.push_confirmation2}}</p>
    <p>{{messages.api.methods.push.push_confirmation3}} {{user.uid}}</p>
    <p>{{messages.api.methods.push.push_confirmation4}} {{user.methods.push.activationCode}}</p>
    <p>{{messages.api.methods.push.push_confirmation5}} {{user.methods.push.api_url}}</p>
    <p> {{messages.api.methods.push.push_confirmation6}}</p>
    </div>
    </div>
    </div>
    </div>
    <div class="row" style="margin-bottom: 0;" v-if="user.methods.push.active">
    <div class="col s1 m2">
    <span class="white-text">a</span>
    </div>
    <div class="col s10 m8">
    <div class="card-panel grey lighten-3">
    <div class="row" style="margin-bottom: 0;">
    <div class="col s3">
    <img src="http://image.flaticon.com/icons/svg/186/186239.svg">
    </div>
    <div class="col s9">
    <span>{{user.methods.push.device.platform}}</span>
    <div class="divider"></div>
    <span>{{user.methods.push.device.manufacturer}}</span>
    <div class="divider"></div>
    <span>{{user.methods.push.device.model}}</span>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="divider"></div>
    </div>
