script#totp-method(type='text/x-template').
    <div>
    <div class="card">
    <div class="card-image">
    <div class="row" style="margin-bottom: 0 ;">
    <div class="col s1"><span class="white-text">a</span></div>
    <div class="col s10" style="text-align: justify;">{{messages.api.methods.totp.howTo}}
    </div>
    </div>
    </div>
    <div class="card-content">
    <div class="row" style="margin-bottom: 0;">
    <div class="col s1 m3"><span class="white-text">a</span></div>
    <div class="col s10 m6" style="text-align: center;">
    <p v-html="user.methods.totp.qrCode"></p>
    <p>{{user.methods.totp.message}}</p>
    </div>
    </div>
    </div>
    <div class="card-action">
    <div class="row" style="margin-bottom: 0;text-align: center;">
    <a class="waves-effect waves-light btn" v-on:click=generate_totp>{{messages.api.action.generate_codes}}<i class="material-icons right">sync</i></a>
    </div>
    </div>
    </div>
    <div class="divider"></div>
        <div class="section">
        <h5>Transports</h5>
        <div class="card" v-if="user.methods.totp.transports.indexOf('sms')>-1" style="max-width: 500px;margin: auto;margin-bottom: 15px;">
            <div class="card-content">
                <div class="row" style="margin-bottom: 0;">
                    <div class="col s2 m3">
                        <img src="https://image.flaticon.com/icons/svg/890/890231.svg">
                    </div>
                    <div class="col s10 m9" style="text-align: justify;">
                        <div class="row" style="margin-bottom: 0;" v-if="user.transports.sms">
                            <p class="col s7">{{user.transports.sms}}</p>
                            <a class="waves-effect waves-light btn col s5 teal darken-1" v-on:click="testTransport('sms')">{{messages.api.action.verify}}<i class="material-icons right">sms</i></a>
                        </div>
                        <div class="row input-field" style="margin-bottom: 0;">
                            <div class="col s7">
                                <input type="text" id="sms-input">
                                <label for="sms-input">{{messages.api.transports.sms}}</label>
                            </div>
                            <a class="waves-effect waves-light btn col s5" v-on:click="saveTransport('sms')" v-if="user.transports.sms">{{messages.api.action.modify}}<i class="material-icons right">mode_edit</i></a>
                            <a class="waves-effect waves-light btn col s5" v-on:click="saveTransport('sms')" v-else>{{messages.api.action.save}}<i class="material-icons right">save</i></a>
                        </div>
                        <div class="row" style="margin-bottom: 0;" v-if="user.transports.sms">
                            <a class="waves-effect waves-light btn col s12  red darken-1" v-on:click="deleteTransport('sms')">{{messages.api.action.remove}}<i class="material-icons right">cancel</i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" v-if="user.methods.totp.transports.indexOf('mail')>-1" style="max-width: 500px;margin: auto;margin-bottom: 15px;">
            <div class="card-content">
                <div class="row" style="margin-bottom: 0;">
                    <div class="col s2 m3">
                        <img src="https://image.flaticon.com/icons/svg/321/321817.svg">
                    </div>
                    <div class="col s10 m9" style="text-align: justify;">
                        <div class="row" style="margin-bottom: 0;" v-if="user.transports.mail">
                            <p class="col s7">{{user.transports.mail}}</p>
                            <a class="waves-effect waves-light btn col s5 teal darken-1" v-on:click="testTransport('mail')">{{messages.api.action.verify}}<i class="material-icons right">email</i></a>
                        </div>
                        <div class="row input-field" style="margin-bottom: 0;">
                            <div class="col s7">
                                <input type="text" id="mail-input">
                                <label for="mail-input">{{messages.api.transports.mail}}</label>
                            </div>
                            <a class="waves-effect waves-light btn col s5" v-on:click="saveTransport('mail')" v-if="user.transports.mail">{{messages.api.action.modify}}<i class="material-icons right">mode_edit</i></a>
                            <a class="waves-effect waves-light btn col s5" v-on:click="saveTransport('mail')" v-else>{{messages.api.action.save}}<i class="material-icons right">save</i></a>
                        </div>
                        <div class="row" style="margin-bottom: 0;" v-if="user.transports.mail">
                            <a class="waves-effect waves-light btn col s12  red darken-1" v-on:click="deleteTransport('mail')">{{messages.api.action.remove}}<i class="material-icons right">cancel</i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
