script#totp-method(type='text/x-template').
    <div>
    <div class="card">
    <div class="card-image">
    <div class="row" style="margin-bottom: 0 ;">
    <div class="col s1"><span class="white-text">a</span></div>
    <div class="col s10" style="text-align: justify;">{{messages.api.methods.totp.howTo}}
    </div>
    </div>
    </div>
    <div class="card-content">
    <div class="row" style="margin-bottom: 0;">
    <div class="col s1 m3"><span class="white-text">a</span></div>
    <div class="col s10 m6" style="text-align: center;">
    <p v-html="user.methods.totp.qrCode"></p>
    <p>{{user.methods.totp.message}}</p>
    </div>
    </div>
    </div>
    <div class="card-action">
    <div class="row" style="margin-bottom: 0;text-align: center;">
    <a class="waves-effect waves-light btn" v-on:click=generate_totp>{{messages.api.action.generate_codes}}<i class="material-icons right">sync</i></a>
    </div>
    </div>
    </div>
    <div class="divider"></div>
    </div>
