script#user-view(type='text/x-template').
    <div>
    {{methods}}
    <ul>
    <h4 v-if="user.uid && typeof(user.uid)!== 'function'">{{user.uid}}</h4>
    <li v-for="method in methods" v-if="user.methods[method.name] && methods[method.name].activate">
    <h5>{{method.label}}</h5>
    <div v-if="user.methods[method.name].active || show == true" v-on:click="deactivate(method.name)" v-bind:name=method.name :id="method.name+'_switch'" class="Switch UserSwitch Round On">
    <div class="Toggle"></div>
    </div>
    <div v-else v-on:click="activate(method.name)" v-bind:name=method.name :id="method.name+'_switch'" class="Switch UserSwitch Round Off">
    <div class="Toggle"></div>
    </div>
    <div class="divider"></div>
    <div v-if="user.methods[method.name].active || user.methods[method.name].activationCode">
    <push v-if="method.name == 'push'" v-bind:methods=methods v-bind:switch_push_event=switchPushEvent v-bind:get_user=get_user v-bind:messages=messages v-bind:user.sync=user></push>
    <bypass v-if="method.name == 'bypass'" v-bind:methods=methods v-bind:generate_bypass=generateBypass v-bind:messages=messages v-bind:user.sync=user></bypass>
    <random_code v-if="method.name == 'random_code'" v-bind:methods=methods v-bind:messages=messages v-bind:get_user=get_user v-bind:user=user></random_code>
    <totp v-if="method.name == 'totp'" v-bind:methods=methods v-bind:generate_totp=generateTotp v-bind:messages=messages v-bind:user.sync=user></totp>
    </div>
    </li>
    </ul>
    </div>