script#user-dashboard(type='text/x-template').
    <div>
        <div class="section" v-for="method in methods" v-if="method.activate && currentmethod==method.name">
            <h4>{{method.label || method.name}}</h4>
            <div class='switch'>
                <label>
                {{messages.api.action.deactivate}}
                <input type='checkbox' v-if="user.methods[method.name].active || show" v-on:click="deactivate" v-bind:name=method.name checked>
                <input type='checkbox' v-on:click="activate" v-bind:name=method.name v-else>
                <span class='lever'></span> {{messages.api.action.activate}}
                </label>
            </div>
            <br>
            <div class="divider"></div>
            <p>
                {{messages.api.methods[method.name].description}}
            </p>
            <div v-if="user.methods[method.name].active || typeof(user.methods[method.name].activationCode)=='string'">
                <div class="divider"></div>
                <component :is=currentmethod v-bind:methods=methods v-bind:generate_totp=generateTotp v-bind:generate_bypass=generateBypass v-bind:get_user=get_user v-bind:messages=messages v-bind:user=user></component>

            </div>
        </div>
    </div>

